<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chatty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/htmls/css/chats.css" />
</head>

<body>
    <div id="app">
<!--       <div class="mainInfo">
        <h5>Комната: {{this.room ? this.room.id : this.room}}</h5>
        <div class="chat">
          <div class="messages" v-for="(message, index) in messages">
            <span :class="smsclass(message) + ' download'"  v-if="message.type === 'file'">
              <a :href="message.file" target='_blank' preload="none" download>{{message.text}}</a>
            </span>
            <span :class="smsclass(message) + ' img'"  v-else-if="message.type === 'image'">
              <img :src="message.preview1" alt="Фото" width="180">
            </span>
            <span :class="smsclass(message) + ' video'"  v-else-if="message.type === 'video'">
              <video width="320" height="240" controls>
                <source :src="message.preview2">
              </video>
            </span>
            <span :class="smsclass(message) + ' audio'"  v-else-if="message.type === 'audio'">
              <audio controls>
                <source :src="message.file">
              </audio>
            </span>
            <span :class="smsclass(message)" v-else>{{message.from ? message.from.email : message.fromId}} : {{message.text}}</span>
          </div>
          <div class="sending">
            <input type="text" name="text" class="sendInput" v-model="message">
            <button @click="createMessage" :class="buttonclass" :disabled="disabled">Send</button>
          </div>
        </div>
        <div class="buttons">
          <div class="inputforimg">
            <label title="Загрузить файл" class='uploadlabel'>
              <div>
                <span>Файл</span>
                <input class="imginp" type="file" @change="onFileChange">
              </div>
            </label>
          </div>
          <div class="inputforimg">
            <label title="Загрузить видео" class='uploadlabel'>
              <div>
                <span>Видео</span>
                <input class="imginp" type="file" @change="onVideoChange">
              </div>
            </label>
          </div>
          <div class="inputforimg">
            <label title="Загрузить аудио" class='uploadlabel'>
              <div>
                <span>Аудио</span>
                <input class="imginp" type="file" @change="onAudioChange">
              </div>
            </label>
          </div>
          <div class="inputforimg">
            <label title="Загрузить фото" class='uploadlabel'>
              <div>
                <span>Фото</span>
                <input class="imginp" type="file" @change="onPhotoChange">
              </div>
            </label>
          </div>
        </div>
        <div class="webCam">
          <div id="remote-media"></div>
          <div id="local-media"></div>
          <div id="room-controls">
            <button id="button-join" @click="twilliocall">Video Call</button>
            <button id="button-leave" @click="leaveroom">Leave Room</button>
          </div>
        </div>
        <div class="audioCall">
          <div id="remote-media1"></div>
          <div id="room-controls1">
            <button id="button-join" @click="twilliovoicecall">Voice Call</button>
            <button id="button-leave" @click="leaveroom">Leave Room</button>
          </div>
        </div>
      </div>  -->
<!--       <div class="modal-window">
        <div id="offline-video-chat" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="chat__user">
                            <img src="./assets/img/avatar.png" alt="" class="chat__user--img">
                            <div class="chat__user--name">
                                <h4>Костя Смирнов</h4> <span>Правовед, юрист</span>
                                <p>2 из 30 сообщений </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="chat-video">
                            <div class="chat-video__name">
                                Багдат Мусин <span>3:22 pm</span>
                            </div>
                            <div class="chat-video__item">
                                <img src="./assets/img/video.png" alt="" class="chat-video__item--img">
                                <button class="chat-video__img--button" data-toggle="modal" data-target="#play-video"><img
                                        src="./assets/img/icons/play.svg" alt="" class="video-play"></button>
                            </div>
                        </div>
                        <div class="chat-video chat-video-right">
                            <div class="chat-video__name">
                                Я <span>3:22 pm</span>
                            </div>
                            <div class="chat-video__item">
                                <img src="./assets/img/video.png" alt="" class="chat-video__item--img">
                                <button class="chat-video__img--button" data-toggle="modal" data-target="#play-video"><img
                                        src="./assets/img/icons/play.svg" alt="" class="video-play"></button>
                            </div>
                            <span class="chat-video__viewed">Просмотрено 16:26</span>
                        </div>
                        <button class="chat-extend">Продлить на 10 видео за 5 500 тенге?</button>
                    </div>
                    <div class="modal-footer">
                        <button data-toggle="modal" data-target="#complete-video-chat" class="chat-video__send">Отправтье
                            видео <img src="./assets/img/icons/icon-video.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
      </div> -->

    <div class="modal-window">
        <div id="play-video" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="chat__user">
                            <img src="./assets/img/avatar.png" alt="" class="chat__user--img">
                            <div class="chat__user--name">
                                <h4>Костя Смирнов</h4> <span>Правовед, юрист</span>
                                <p>2 из 30 сообщений </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="chat-video-play">
                            <video src="./assets/video/video.mp4" controls autoplay></video>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-window">
        <div id="complete-video-chat" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat alItems-flEnd">
                        <div class="complete-video-chat__item">
                            <div class="height250">
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">Офлайн видео чат окончен</p>
                            </div>
                            <button class="complete-video-chat__item--reviews" data-toggle="modal"
                                    data-target="#video-chat-reviews">Оставить отзыв
                            </button>
                            <button class="complete-video-chat__item--complete">Завершить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="video-chat-reviews" class="modal fade">
            <div class="modal-dialog chat width-reviews">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="chat__user">
                            <img src="./assets/img/avatar.png" alt="" class="chat__user--img">
                            <div class="chat__user--name">
                                <h4>Костя Смирнов</h4>
                                <p>Правовед, юрист</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body video-chat-reviews">
                        <form action="">
                            <textarea placeholder="Напишите отзыв"></textarea>
                            <div class="chat-reviews">
                                <p>Подготовка иска</p>
                                <span>Офлайн видео чат</span>
                            </div>
                            <div class="chat-reviews-button">
                                <div class="star">
                                    <a href="#"><img src="./assets/img/icons/star.svg" alt=""></a>
                                    <a href="#"><img src="./assets/img/icons/star.svg" alt=""></a>
                                    <a href="#"><img src="./assets/img/icons/star.svg" alt=""></a>
                                    <a href="#"><img src="./assets/img/icons/star-i.svg" alt=""></a>
                                    <a href="#"><img src="./assets/img/icons/star-i.svg" alt=""></a>
                                </div>
                                <button>Оставить отзыв</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-window">
        <div id="offline-audio-chat" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="chat__user">
                            <img src="./assets/img/avatar.png" alt="" class="chat__user--img">
                            <div class="chat__user--name">
                                <h4>Костя Смирнов</h4> <span>Правовед, юрист</span>
                                <p>2 из 30 сообщений </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="chat-video">
                            <div class="chat-video__name">
                                Багдат Мусин <span>3:22 pm</span>
                            </div>
                            <div class="chat-audio__item">
                                <audio src="./assets/audio/audio.mp3" controls></audio>
                            </div>
                        </div>
                        <div class="chat-video chat-video-right">
                            <div class="chat-video__name">
                                Я <span>3:22 pm</span>
                            </div>
                            <div class="chat-audio__item">
                                <audio src="./assets/audio/audio.mp3" controls></audio>
                            </div>
                            <span class="chat-video__viewed">Доставлено 16:26</span>
                        </div>
                        <button class="chat-extend">Продлить на 10 аудио за 5 500 тенге?</button>
                    </div>
                    <div class="modal-footer">
                        <button class="chat-video__send">Отправтье аудиозапись <img src="./assets/img/icons/icon-audio.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="offline-sms-chat" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-header">
                        <div class="chat__user">
                            <img src="./assets/img/avatar.png" alt="" class="chat__user--img">
                            <div class="chat__user--name">
                                <h4>Костя Смирнов</h4> <span>Правовед, юрист</span>
                                <p>2 из 30 сообщений </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="chat-video">
                            <div class="chat-video__name">
                                Багдат Мусин <span>3:22 pm</span>
                            </div>
                            <div class="chat-sms__item">
                                <p>Обсуждение предложенных положений по кадровой политике</p>
                            </div>
                        </div>
                        <div class="chat-video chat-video-right">
                            <div class="chat-video__name">
                                Я <span>3:22 pm</span>
                            </div>
                            <div class="chat-sms__item light-blue-grey">
                                <p>О рекомендациях годовому Общему собранию акционеров по вопросу: О размере дивидендов,
                                    сроках и форме их выплаты по итогам работы за 2014 год и установлении даты, на которую
                                    определяются лица, имеющие право на получение дивидендов.</p>
                            </div>
                        </div>
                        <div class="chat-video chat-video-right">
                            <div class="chat-sms__item">
                                <a href="#" download class="chat-sms__item--document"><img src="./assets/img/icons/pdf.svg"
                                                                                           alt=""> <span>Договор №29 от <br> 12 февраля</span></a>
                            </div>
                            <span class="chat-video__viewed">Просмотрено 16:26</span>
                        </div>

                        <button class="chat-extend">Продлить на 10 смс за 5 500 тенге?</button>
                    </div>
                    <div class="modal-footer modal-footer-sms">
                        <input placeholder="Введите текст сообщения">
                        <button class="chat-video__send"><img src="./assets/img/icons/sms.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-sms-call" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat">
                        <div class="complete-video-chat__item">
                            <div class="online-call">
                                <div class="online-call__title">Подготовка иска</div>
                                <div class="online-call__text">Онлайн смс чат, 30 сообщений</div>
                            </div>
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">Юрист</p>
                            <div class="accept-decline">
                                <button class="accept-decline__button"><img src="./assets/img/icons/decline.svg" alt="">Отклонить
                                </button>
                                <button class="accept-decline__button"><img src="./assets/img/icons/accept.svg" alt="">Принять
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-сonnection" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat alItems-flEnd">
                        <div class="complete-video-chat__item">
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">Соединение…</p>
                            <div class="accept-decline">
                                <button class="accept-decline__button"><img src="./assets/img/icons/decline.svg" alt="">Отклонить
                                </button>
                                <button class="accept-decline__button"><img src="./assets/img/icons/accept.svg" alt="">Принять
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-extension" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body extension-video-chat">
                        <div class="complete-video-chat__item">
                            <div class="video-online-chat">
                                <img src="./assets/img/video-user-2.jpg" alt="">
                            </div>
                            <div class="online-extension">
                                <button class="online-extension-button">Продлить на 5 минут за 5000 тенге ?</button>
                                <p>05:46 из 10:00</p>
                                <div class="online-extension__item">
                                    <button class="online-extension__item--button clip"></button>
                                    <button class="online-extension__item--button mike"></button>
                                </div>
                                <button class="online-extension-button-decline"><img src="./assets/img/icons/decline.svg"
                                                                                     alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-сonnection-audio" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat alItems-flEnd">
                        <div class="complete-video-chat__item">
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">5:49 из 10:00 минут</p>
                            <div class="online-extension">
                                <button class="online-extension-button">Продлить на 5 минут за 5000 тенге ?</button>
                                <div class="online-extension__item">
                                    <button class="online-extension__item--button clip"></button>
                                    <button class="online-extension__item--button mike"></button>
                                    <button class="online-extension__item--button sound"></button>
                                </div>
                                <button class="online-extension-button-decline"><img src="./assets/img/icons/decline.svg"
                                                                                     alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-conference" class="modal fade">
            <div class="modal-dialog chat conference-chat">
                <div class="modal-content ">
                    <div class="modal-body">
                        <div class="conference-item">
                            <img src="./assets/img/conf.jpg" alt="" class="conference-item__img">
                            <div class="conference-item__flex">
                                <p>09:30 из 45:00</p>
                                <button><img src="./assets/img/icons/camera.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="conference-item p20">
                            <div class="conference-item-sms">
                                <img src="./assets/img/avatar.png" alt="" class="conference-item-sms__img">
                                <div class="conference-item-sms-text">
                                    <h4 class="conference-item-sms-text__name">Бауыржан Жумаханов</h4>
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно</p>
                                </div>
                            </div>
                            <div class="conference-item-sms">
                                <img src="./assets/img/avatar.png" alt="" class="conference-item-sms__img">
                                <div class="conference-item-sms-text">
                                    <h4 class="conference-item-sms-text__name">Бауыржан Жумаханов</h4>
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно </p>
                                </div>
                                <div class="conference-item-sms-text conference-item-sms-text-second">
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer conference-footer">
                        <div class="conference-footer__description">
                            <p><img src="./assets/img/icons/user.svg" alt=""> 392</p>
                            <p><img src="./assets/img/icons/comment.svg" alt=""> 129</p>
                        </div>
                        <div class="conference-footer__button">
                            <button>Завершить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-сonference-finish" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat alItems-flEnd">
                        <div class="complete-video-chat__item">
                            <div class="conference-close-text">
                                <p class="complete-video-chat__item--text">Онлайн конференция завершена</p>
                            </div>
                            <button class="conference-close-button">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-window">
        <div id="online-broadcast-connection" class="modal fade">
            <div class="modal-dialog chat chat-online-call">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat">
                        <div class="complete-video-chat__item online-broadcast-connection">
                            <div class="online-call">
                                <div class="online-call__title">Подготовка иска</div>
                                <div class="online-call__text">Онлайн эфир, 45 минут</div>
                            </div>
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">Соединение…</p>
                            <div class="accept-decline">
                                <button class="accept-decline__button"><img src="./assets/img/icons/decline.svg" alt="">Отклонить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-window">
        <div id="online-broadcast" class="modal fade">
            <div class="modal-dialog chat conference-chat">
                <div class="modal-content ">
                    <div class="modal-body">
                        <div class="conference-item">
                            <img src="./assets/img/conf.jpg" alt="" class="conference-item__img">
                            <div class="conference-item__flex">
                                <p>09:30 из 45:00</p>
                                <button><img src="./assets/img/icons/expand.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="conference-item p20">
                            <div class="conference-item-sms">
                                <img src="./assets/img/avatar.png" alt="" class="conference-item-sms__img">
                                <div class="conference-item-sms-text">
                                    <h4 class="conference-item-sms-text__name">Бауыржан Жумаханов</h4>
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно</p>
                                </div>
                            </div>
                            <div class="conference-item-sms">
                                <img src="./assets/img/avatar.png" alt="" class="conference-item-sms__img">
                                <div class="conference-item-sms-text">
                                    <h4 class="conference-item-sms-text__name">Бауыржан Жумаханов</h4>
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно </p>
                                </div>
                                <div class="conference-item-sms-text conference-item-sms-text-second">
                                    <p class="conference-item-sms-text__message">Крутая трансляция !! Очень
                                        познавательно</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-sms">
                        <input placeholder="Введите текст сообщения">
                        <button class="chat-video__send"><img src="./assets/img/icons/sms.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-window">
        <div id="online-broadcast-finish" class="modal fade">
            <div class="modal-dialog chat">
                <div class="modal-content ">
                    <div class="modal-body complete-video-chat alItems-flEnd">
                        <div class="complete-video-chat__item online-broadcast-connection">
                            <div class="height250">
                            <img src="./assets/img/avatar.png" alt="" class="complete-video-chat__item--img">
                            <div class="complete-video-chat__item--name">Костя Смирнов</div>
                            <p class="complete-video-chat__item--text">Онлайн эфир окончен</p>
                            </div>
                            <button class="complete-video-chat__item--reviews" data-toggle="modal" data-target="#video-chat-reviews">Оставить отзыв</button>
                            <button class="complete-video-chat__item--complete">Завершить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    </div>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="/htmls/js/client.js"></script>
</body>

</html>